<link rel="stylesheet" type="text/css" href="main.css" />
<title>Weather for <%= @city %>, <%= @region %></title>
<h3 class="location"><%= @city %>, <%= @region %></h3>
<div class="container">
  <div class="panel">
    <h2>Current</h2>
    <h3><%= @current %></h3>
    <h1><%= @current_temp.to_s %>ยบ</h1>
  </div>
  <div class="panel">
    <h2>Tomorrow</h2>
    <h3><%= @tomorrow %></h3>
    <h1><%= @tomorrow_temp.to_s %>ยบ</h1>
  </div>
</div>
<a href="/"><button>Check out another city</button></a>
